[Desktop Entry]
Name=nisefuck
Encoding=UTF-8
Comment=hacking wifi no root
Exec=/usr/share/kali-menu/exec-in-shell "nisefuck"
Icon=/opt/wificrack-gui/icon.png
StartupNotify=false
Terminal=false
Type=Application
Categories=06-wireless-attacks;
X-Kali-Package=aircrack-ng

